$c-facebook-100: #3B5998;
$c-facebook-200: #30487d;

$c-twitter-100: #006fa6;
$c-twitter-200: #005b89;

$c-line-100: #00B900;
$c-line-200: #009B00;

$c-whatsapp-100: #0c6f64;
$c-whatsapp-200: #09584f;

$c-telegram-100: #0c75a6;
$c-telegram-200: #0a638c;

$c-email-100: #1b7ca8;
$c-email-200: #16688e;

$c-tumblr-100: #36465D;
$c-tumblr-200: #14141D;

$c-pinterest-100: #E60023;
$c-pinterest-200: #D3001F;

$c-linkedin-100: #00679a;
$c-linkedin-200: #005582;

$c-reddit-100: #c43500;
$c-reddit-200: #a92e00;

$c-pocket-100: #c11f3a;
$c-pocket-200: #a11a30;

$c-copy-100: #0c7a55;
$c-copy-200: #086647;
